<!DOCTYPE html>
<html lang='fr'>
    <head>
        {% block title%}
        <title> R&T DEVLOPMENT</title>
        {% endblock %} 

        <meta charset="utf-8">
        <meta name="vieuwport" content=""width="device-width, initiale-scale=1">

        <!-- On ajoute un fichier css depuis les statics-->
        {% load static %}
        <link rel="stylesheet" href=" {% static 'css/test.css' %} ">

    </head>

    <body>

    {% block menu %} 
        <div class="topnav">
            <div class="link">
                <a href="http://127.0.0.1:8000/admin/login/?next=/admin/">Connexion</a>
                <a href="{% url 'index' %}">Accueil</a>
                <a href="{% url 'machines' %}">Machines</a>
                <a href="{% url 'personnels' %}">Personnels</a>
            </div>    
            <div class="logo">
                <img src="{% static 'computerApp/image/logo.png' %} ">
            </div>
        </div>

        <div style="text-align: center">
            <h2>Bienvenue sur le site R&T</h2>
        </div>

    
    {% endblock %} 

    {% block content %} 

    <div class="titre_fenetre">
        <h2>Liste des machines et personnels associés</h2>
    </div>
       
        <div class="fenetre_liste">
            <ul>
                {% for machine in machines %}
                <li class="item">
                    <img src="{% static 'computerApp/image/ordinateur.png' %} " class="image-machine">
                    <p>Device : {{ machine.type_machine }}</p> <p> Id :{{ machine.id }}</><a> Nom: {{ machine.name }} </a>
                    </p>
                </li>
                {% endfor %}
                {% for personnel in personnels %}
                <li class="item">
                    <img src="{% static 'computerApp/image/personnel.png' %} "  class="image-personnel">
                    <p>Id : {{ personnel.id }}</p><a> Nom : {{personnel.nom}} </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    
    


    {% endblock %}
    
    <footer>
        <p>Website made by Me | All right reserved | Version 0.0.3 2022-2023</p>
    </footer>

    </body>
</html>