body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #00386d;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 33px 38px;
    text-decoration: none;
    font-size: 35px;;
  }


  .logo {
    float: left; /* ajoute un peu d'espace entre le dernier lien et le logo */
  }

  .logo img {
    width: 200px;
    height: 100px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: rgb(4, 138, 161);
  }
  
  .topnav a.active {
    background-color: #0a97c2;
    color: white;
  }

  .title {
    font-size: large;
    color:rgb(54, 193, 218);
  }

  .little_titlle {
    font-size: large;
  }

  footer {
    color:rgb(9, 110, 128);
    font-size: medium;
    text-align: center;
    margin-top: 240px;
    width: 100%;
  }

  .titre_fenetre {
    margin: 0 auto;
    background-color: rgb(8, 179, 185); /* Couleur de fond du titre */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement interne */
    color: white; /* Couleur du texte du titre */
    width: 70%;
}
  
  .fenetre_liste {
    margin-top: 10px;
    margin: 0 auto;
    width: 70%;
    background-color: rgb(135, 206, 235); /* Couleur de fond des éléments */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement interne */
    display: flex; /* Utiliser flexbox */
    flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
    justify-content: space-between; /* Espacement équilibré des éléments */
}

.image-machine {
    width: 200px; /* Définir la largeur souhaitée */
    height: auto; /* Ajuster la hauteur en fonction de la largeur */
    background-color: rgb(8, 179, 185); /* Couleur de fond bleue */
}

.image-personnel {
    width: 100px; /* Définir la largeur souhaitée */
    height: auto; /* Ajuster la hauteur en fonction de la largeur */
    background-color: rgb(8, 179, 185); /* Couleur de fond bleue */
}

.item {
  width: 40%;
  display: inline-block;
  margin-bottom: 20px;
  background-color: rgb(8, 179, 185);
  border-radius: 20px;
  padding: 20px;
  height: 220px; /* Hauteur prédéfinie pour les rectangles */
  vertical-align: top; /* Alignement vertical en haut */
}




