{% extends "index.html" %}

{% block content %}
    <h1>liste du personnel</h1>
        {% if personnels %}
        <ul>
            <a href="{% url 'add-personnel' %}">Ajouter un personnel</a>
            {% for personnel in personnels %}
                <li>
                    <a href="{% url 'personnel-detail' personnel.id %}">{{ personnel.id }}</a> ({{personnel.nom}})
                </li>
            {% endfor %}
        </ul>   
        {% else %}
            <p> Il n\'y a personne.<p>
        {% endif %}
{% endblock %}